module github.com/merabytes/acido

go 1.21

require (
	github.com/Azure/azure-sdk-for-go/sdk/azcore v1.9.0
	github.com/Azure/azure-sdk-for-go/sdk/azidentity v1.4.0
	github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerinstance/armcontainerinstance v2.1.0+incompatible
	github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork v4.3.0+incompatible
	github.com/Azure/azure-sdk-for-go/sdk/security/keyvault/azsecrets v1.0.1
	github.com/Azure/azure-sdk-for-go/sdk/storage/azblob v1.2.0
	github.com/AlecAivazis/survey/v2 v2.3.7
	github.com/aws/aws-lambda-go v1.41.0
	github.com/fatih/color v1.15.0
	github.com/google/uuid v1.4.0
	github.com/gorilla/websocket v1.5.1
	github.com/schollz/progressbar/v3 v3.14.1
	github.com/spf13/cobra v1.8.0
)

require (
	github.com/inconshreveable/mousetrap v1.1.0 // indirect
	github.com/kballard/go-shellquote v0.0.0-20180428030007-95032a82bc51 // indirect
	github.com/mattn/go-colorable v0.1.13 // indirect
	github.com/mattn/go-isatty v0.0.20 // indirect
	github.com/mgutz/ansi v0.0.0-20200706080929-d51e80ef957d // indirect
	github.com/mitchellh/colorstring v0.0.0-20190213212951-d06e56a500db // indirect
	github.com/rivo/uniseg v0.4.4 // indirect
	github.com/spf13/pflag v1.0.5 // indirect
	golang.org/x/sys v0.14.0 // indirect
	golang.org/x/term v0.14.0 // indirect
	golang.org/x/text v0.14.0 // indirect
)
